@font-face {
    font-family: 'Raleway',;
    src: url('../fonts/Raleway-Bold.woff2') format('woff2'),
        url('../fonts/Raleway-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Thin.woff2') format('woff2'),
        url('../fonts/Raleway-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.ttf') format('truetype');
}

/* HEADER */
body {
    margin:0;
}

header {
    margin: 0 50px 50px 50px;
    height: 100px;
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
    width: 66%;
}

.logo img {
    height: 30px;
}

.header-nav {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.header-nav ul {
    list-style: none;
}

.tabs {
    display: flex;
    width: 75%;
}

.tabs ul {
    display: flex;
    width: 100%;
    height: 100px;
    margin: 0;
    justify-content: space-around;
}

.tabs a {
    text-decoration: none;
    font-family: 'Raleway', Arial, sans-serif;
}

#lodging-tab {
    padding-top: 40px;
    border-top-style: solid;
    border-color: #0065FC;
    border-width: 3px;
    width: 160px;
    text-align: center;
}

#lodging-tab a {
    color: #0065FC;
}

#activities-tab {
    padding-top: 42px;
}

#activities-tab a {
    color: #000;
}

.register {
    display: flex;
    align-items: center;
}

.register ul {
    padding: 0;
}

.register li {
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: bold;
    color: #0065FC;
}

/* MAIN */

main {
    margin: 40px;
}

/* SECTION RECHERCHE ET FILTRES */

.filters-head h3 {
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 15px;
}

.filters-head p {
    font-family: 'Raleway', Arial, sans-serif;
    margin-bottom: 20px;
}

.search-section {
    margin-bottom: 30px;
}

.search-box button {
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #FFF;
    background-color: #0065FC;
    height: 50px;
    width: 130px;
    border-width: 0;
    border-radius: 0 15px 15px 0;
    margin: -5px;
}

.search-box button i {
    visibility: hidden;
}

.search-box input {
    height: 50px;
    width: 235px;
    border-width: 1px;
    border-color: #F2F2F2;
    border-style: solid;
}

.search-box input::placeholder {
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: bold;
    color: #000;
    text-align: center;
    font-size: 14px;
}

.fa-map-marker-alt {
    height: 50px;
    width: 50px;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    position: relative;
    top: 21px;
    left: 5px;
}

.fa-map-marker-alt:before {
    position: absolute;
    top: 18px;
    left: 20px;
}

.filters {
    display: flex;
}

.filters-ctg {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.filters p {
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: bold;
}

.p-filters {
    padding-top: 10px;
}

.filters-box {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 12px;
}

.filters-box i {
    background-color: #DEEBFF;
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.fa-money-bill-wave:before {
    position: absolute;
    top: 18px;
    left: 15px;
}

.fa-child:before {
    position: absolute;
    top: 18px;
    left: 19px;
}

.fa-heart:before {
    position: absolute;
    top: 18px;
    left: 18px;
}

.fa-dog:before {
    position: absolute;
    top: 16px;
    left: 18px;
}

.blue {
    color: #0065FC;
}

.filters-choice {
    text-align: center;
    height: 50px;
    margin-left: -50px;
    padding: 0 1em 0 4em;
    border-style: solid;
    border-color: #F2F2F2;
    border-width: 1px;
    border-radius: 50px;
}

.filters-choice:hover {
    border-color: #0065FC;
    border-width: 3px;
    color: #0065FC;
}

.info {
    display: flex;
    margin-top: 35px;
}

.info i {
    color: #0065FC;
    border-style: solid;
    border-color: #F2F2F2;
    border-radius: 50px;
    border-width: 1px;
    max-height: 25px;
    min-width: 25px;
    position: relative;
}

.fa-info:before {
    position: absolute;
    left: 10px;
    top: 5px;
}

.info p {
    font-family: 'Raleway', Arial, sans-serif;
    margin: 5px 10px;
}

/* SECTION HEBERGEMENTS */
.results {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.lodging-section {
    padding: 50px 40px;
    background-color: #F2F2F2;
    border-radius: 15px;
    margin-top: 35px;
    width: 60%;
    max-width: 800px;
}

.lodging-section h2 {
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: bold;
    font-size: 22px;
    margin: 0 0 25px 0;
}

.more p {
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: bold;
}

.m-lodging {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.m-lodging a {
    text-decoration: none;
}

.lodging-box {
    padding: 5px 5px 12px 5px;
    margin-bottom: 30px;
    background-color: #FFF;
    border-radius: 15px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
}

.lodging-box-info {
    margin-left: 15px;
}

.lodging-box-info span {
    font-weight: bold;
}

.lodging-box h4 {
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: bold;
    color: #000;
    font-size: 16px;
    margin: 12px 0 0 0;
}

.lodging-box p {
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: normal;
    color: #000;
    margin: 10px 0 10px 0;
}

.lodging-box img {
    width: 230px;
    border-radius: 15px 15px 0 0;
}

.fa-star {
    margin-bottom: 12px;
}

.grey {
    color: #f2f2f2;
}

.popular-head {
    display: flex;
    justify-content: space-between;
}

.fa-chart-line {
    font-size: 20px;
}

.popular-section {
    padding: 50px 40px;
    background-color: #F2F2F2;
    border-radius: 15px;
    margin-top: 35px;
    width: 25%;
    min-width: 340px;
}

.popular-section h3 {
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: bold;
    font-size: 22px;
    margin: 0 0 25px 0;
}

.m-popular a {
    text-decoration: none;
}

.popular-box {
    height: 135px;
    width: 345px;
    padding: 5px 5px 5px 5px;
    margin-bottom: 30px;
    background-color: #FFF;
    border-radius: 15px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
}

.popular-box img {
    float: left;
    margin-right: 20px;
    border-radius: 15px 0 0 15px;
}

.popular-box h4 {
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: bold;
    color: #000;
    font-size: 16px;
    margin: 0;
    padding: 20px 40px 10px 0;
}

.popular-box p {
    font-family: 'Raleway', Arial, sans-serif;
    color: #000;
    padding: 0 40px 25px 0;
    margin: 0;
}

.popular-box span {
    font-weight: bold;
}

/* SECTION ACTIVITES */

#activities {
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: bold;
    margin: 65px 0 25px 0;
}

.activities-section {
    display: flex;
    justify-content: space-between;
}

.activities-section a {
    text-decoration: none;
}

.activities-box h4 {
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: bold;
    color: #000;
    margin: 0;
    padding: 20px 0 20px 20px;
}

.activities-box img {
    border-radius: 15px 15px 0 0;
}

.activities-box {
    border-radius: 15px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
}

.activities-m {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    background-color: #F2F2F2;
}

.footer {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.footer h5 {
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding-inline-start: 40px;
    margin: 50px 0 20px 0;
}

.footer ul {
    list-style: none;
    font-family: 'Raleway', Arial, sans-serif;
    line-height: 2em;
}