/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@media only screen and (max-width: 600px) {
    main {
        width: 100%;
    }

    /* SECTION RECHERCHE ET FILTRES */

    .search {
        width: 90%;
        margin: auto;
    }

    .search-box input {
        width: 70%;
    }

    .search-box button {
        font-size: 0;
        position: relative;
        top: -4px; 
        width: 50px;
        margin: -20px;
        border-radius: 15px;
    }

    .search-box button i {
        visibility: visible;
        font-size: 16px;
        color: #fff;
        position: relative;
    }

    .fa-search:before {
        position: absolute;
        top: -10px;
        left: -25px;
        height: 50px;
        width: 50px;
    }

    .filters {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }

    .filters-ctg {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }

    .results {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }

    .popular-section {
        width: 100%;
        border-radius: 0;
    }

    .popular-head {
        margin-top: 20px;
    }

    .m-popular {
        width: 80%;
        margin: auto;
        margin-top: 20px;
    }

    .lodging-section {
        width: 100%;
        border-radius: 0;
        background-color: #fff;
    }

    .lodging-section h2 {
        text-align: center;
        margin-top: 20px;
}

    .m-lodging {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 80%;
        margin: auto;
    }

    .lodging-box img {
        width: 100%;
    }

    .more {
        width: 80%;
        margin: auto;
    }

    /* SECTION ACTIVITES */

    #activities {
        text-align: center;
        margin-top: 10px;
    }

    .activities-section {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 80%;
        margin: auto;
    }

    .activities-box {
        margin-bottom: 25px;
    }

    .activities-box img {
        width: 100%;
    }    

}