@media only screen and (max-width: 600px) {
    main {
        width: 100%;
    }

    .search {
        width: 90%;
        margin: auto;
    }

    .search-box input {
        width: 70%;
    }

    .search-box button {
        font-size: 0;
        position: relative;
        top: -4px; 
        width: 50px;
        margin: -20px;
        border-radius: 15px;
    }

    .search-box button i {
        visibility: visible;
        font-size: 16px;
        color: #fff;
        position: relative;
    }

    .fa-search:before {
        position: absolute;
        top: -10px;
        left: -25px;
        height: 50px;
        width: 50px;
    }

    .filters {
        flex-direction: column;
        align-items: flex-start;
    }

    .filters-ctg {
        justify-content: flex-start;
    }

    .results {
        flex-direction: column-reverse;
    }

    .popular-section {
        width: 100%;
        border-radius: 0;
    }

    .m-popular {
        width: 80%;
        margin: auto;
        margin-top: 20px;
    }

    .lodging-section {
        width: 100%;
        border-radius: 0;
        background-color: #fff;
    }

    .lodging-section h2 {
        text-align: center;
        margin-top: 20px;
}

    .m-lodging {
        flex-wrap: nowrap;
        flex-direction: column;
        width: 80%;
        margin: auto;
    }

    .more {
        width: 80%;
        margin: auto;
    }

    .lodging-box img {
        width: 100%;
    }

    .activities-section {
        flex-direction: column;
        width: 80%;
        margin: auto;
    }

    .activities-box img {
        width: 100%;
    }

    .activities-box {
        margin-bottom: 25px;
    }

    #activities {
        text-align: center;
        margin-top: 10px;
    }

}

@media only screen and (max-width: 370px) {
    .popular-box h4 {
        font-size: 14px;
    }

    .popular-box p {
        font-size: 12px;
        padding: 2%;
    }

}
