@media only screen and (max-width:510px) {
    header {
        margin: 20px;
        display: inline;
    }

    .header-nav {
        flex-direction: column;
        width: 90%;
    }

    .logo {
        display: inline;
        height: 50%; 
        position: absolute;
    }

    .logo img {
        margin: 20px;
        height: 40px;
    }

    .tabs {
        width: auto;
    }

    .tabs ul {
        padding: 0;
        width: 100%;
    }

    .register {
        order: -3;
        justify-content: flex-end;
    }

    main {
        margin: 20px;
    }

    .filters-head h3 {
        font-size: 22px;
    }

    .search-box input {
        width: 50%;
        min-width: 150px;
    }

    .search-box button {
        font-size: 0;
        position: relative;
        top: -4px; 
        width: 50px;
        margin: -20px;
        border-radius: 15px;
    }

    .search-box button i {
        visibility: visible;
        font-size: 16px;
        color: #fff;
        position: relative;
    }

    .fa-search:before {
        position: absolute;
        top: -10px;
        left: -25px;
        height: 50px;
        width: 50px;
    }

    .filters {
        width: 100%;
        flex-direction: column;
    }

    .p-filters {
        display: flex;
    }

    .filters-ctg {
        width: auto;
    }


}